In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from seaborn import objects as so

In [2]:
# d = {"industry 1": pd.Series(original.industry1.unique()), 
#      "industry 2": pd.Series(original.industry2.unique()),
#      "industry 3": pd.Series(original.industry3.unique())
#     }
# unique = pd.DataFrame(data=d)
# unique.to_csv("Industry_Details.csv")

In [11]:
original = pd.read_csv("../Datasets/mrsd_4_annl_emp_chg_by_ind_14032022.csv")
original = original.drop(["industry1", "industry3"], axis=1).rename(columns = {"year":"Year", "industry2":"Industry", "employment_change":"Change"})
# df[['Year','Quarter']] = df.Year.str.split("-", expand=True)
original

     Year                                 Industry Change
0    1991                                   others   -0.1
1    1991                             construction   17.7
2    1991              food, beverages and tobacco    0.1
3    1991              textile and wearing apparel   -2.4
4    1991            paper products and publishing    0.8
..    ...                                      ...    ...
873  2021      administrative and support services    5.4
874  2021  community, social and personal services    1.5
875  2021  community, social and personal services   10.5
876  2021  community, social and personal services     -2
877  2021  community, social and personal services    1.3

[878 rows x 3 columns]

In [18]:
type(original.Year[0])

numpy.int64

In [15]:
original = original[original.Year == 2019, 2020]
original

InvalidIndexError: (0      False
1      False
2      False
3      False
4      False
       ...
873    False
874    False
875    False
876    False
877    False
Name: Year, Length: 878, dtype: bool, 2020)

In [6]:
# df = df.loc[(df.Industry=="food, beverages and tobacco") & (df.Change != "-")].reset_index(drop=True)
df = df.replace("-", 0)

NameError: name 'df' is not defined

In [ ]:
df

In [ ]:
df.Year = df.Year.astype(int)
df.Industry = df.Industry.astype(str)
df.Change = df.Change.astype(float)
df.info()

In [ ]:
df= df.loc[(df.Year >= 2019) & (df.Year < 2021)]
df = df.reset_index(drop=True)

In [ ]:
df.info()

In [ ]:
plt.figure(figsize = (15,8))
sns.set_palette("Paired", 10)
sns.scatterplot(data=df, x="Year", y="Change", hue="Industry")

plt.show()

In [ ]:
df